Robot/AutomationAgent/Connected Services/ServiceReference1/BOTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/AutomationService/BOTService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RequestInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutomationGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutomationProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutomationProcessVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InputSearchParameters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="RequestNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestTimeoutSLAInSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="TenantName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestInput" nillable="true" type="tns:RequestInput" />
  <xs:complexType name="PublishProcessEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createddate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="processfiles" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="processname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updateddate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublishProcessEntity" nillable="true" type="tns:PublishProcessEntity" />
</xs:schema>