Robot/RobotAutomationFramework/Service References/ExecutorClient/ExecutorServiceClass6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConditionMapperProperties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionMapperProperties" nillable="true" type="tns:ConditionMapperProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionMapperProperties" nillable="true" type="tns:ArrayOfConditionMapperProperties" />
  <xs:complexType name="ConditionMapperProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConditionAndOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionLEG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ToField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionMapperProperties" nillable="true" type="tns:ConditionMapperProperties" />
</xs:schema>